node_modules
.env
!example.env

node_modules
.DS_Store
dist
dist-ssr
*.local

*.tsbuildinfo

@app/gql/*.d.ts
@app/gql/*.ts.map

# Ignore DevSpace cache and log folder
.devspace/
.dockerconfig.json
secret-*.yaml
