bases:
  - ../../bases/client
  - ../../bases/pg
  - ../../bases/db
  - ../../bases/server
  - ../../bases/gql
  - ../../bases/keycloak
  - bases/client
  - bases/server

generatorOptions:
  disableNameSuffixHash: true

configMapGenerator:
  - name: dev-env-configmap
    envs:
      - .env
  - name: db-initialize-configmap
    files:
      - init.sql

namespace: starter
